body {
  margin: 0;
}
.header {
  width: 100%;
  height: 50px;
  background: #FD6DA1;
  box-shadow: 1px 1px 5px 1px lightgrey;
  text-align: center;
  display: flex;
  flex-direction: row;
  padding-left: 550px;
}
.todo {
  top: 13px;
  font-size: 21px;
  position: relative;
  font-family: sans-serif;
  margin: 0;
  color: black;
  text-decoration: none;
  cursor: pointer;
  margin-left: 10px;
}


.note {
  width: 14%;
  height: 160px;
  background: #FAC8DA;
  padding: 20px;
  margin-top: 20px;
  border-radius: 15px;
  display: inline-block;
  margin-right: 26px;
  background-image: url("images/note.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  
}
.note .content {
  padding: 5px 42px;
}
.note h5 {
  font-size: 16px;
  font-family: sans-serif;
}
.note p {
  font-size: 12px;
}
.notes-list {
  width: 1300px;
  margin: 0 auto;
  display: block;
  height: 800px;
  overflow-y: scroll;
}
.create-note {
  text-align: center;
  padding-top: 50px;
  position: fixed;
  bottom: 50px;
  left: 0;
  right: 0;
  background: #fff;
}
.create-note input {
  height: 40px;
  margin: 10px;
}
.create-note button {
  height: 46px;
  width: 85px;
  font-size: 17px;
  background: #FD6DA1;
  border: none;
  
}
.btn {
  background-color: #FD6DA1;
  color: white;
  padding-top: 10px;
  padding-bottom: 5px;
  padding-left: 10px;
  padding-right: 10px;
  border-radius: 3px;
  border-width: 0px;
  margin-left: 128px;
  margin-top: 80px;
}

.cart-items {
  display: flex;
  flex-direction: row;
  align-items: center;
  margin-left: 20px;
  color: black;
  text-decoration: none;
  cursor: pointer;
}

.cart-num {
  background-color: grey;
  color: white;
  border-radius: 5px;
  text-align: center;
  padding-top: 5px;
  padding-bottom: 5px;
  padding-left: 10px;
  padding-right: 10px;
  margin-left: 5px;
}

.done-containter h1 {
  margin-left: 40px;
  color: rgb(50, 138, 128);
}