.header {
  display: flex;
  flex-direction: row;
  background-color: rgb(247, 126, 170 );
  border-bottom-style: solid;
  border-bottom-width: 2px;
  border-bottom-color: rgb(237, 67, 129);
  align-items: center;
  min-height: 40px;
  padding-left: 25px;
  font-size: large;
}
.notes-list {
  width: 1300px;
  margin: 0 auto;
}
.note {
  width: 200px;
  height: 200px;
  background: #FAB7CF;
  box-shadow: 1px 1px 10px 1px lightgrey;
  padding: 20px;
  margin-top: 20px;
  border-radius: 15px;
}
.note h5 {
  font-size: 19px;
  font-family: sans-serif;
}
.note p {
  font-size: 18px;
}

.create-note {
  text-align: center;
  padding-top: 50px;
}
.create-note input {
  height: 40px;
  margin: 10px;
}
.create-note button {
  height: 46px;
  width: 85px;
  font-size: 17px;
  background: rgb(247, 126, 170 );
  border: none;
}
